In [1]:
import pandas as pd

In [341]:
df = pd.read_csv("/Users/ryansung/boxscore2122.csv")
df = df.fillna(0)
df.head()

,date,set,team,no,player,attack,block,serve,set_1,receive,dig,error
0,211016,1,대한항공,2.0,한선수,2.0,0.0,0.0,9.0,0.0,2.0,1.0
1,211016,1,대한항공,6.0,이수황,1.0,0.0,1.0,0.0,0.0,2.0,1.0
2,211016,1,대한항공,9.0,곽승석,1.0,0.0,0.0,1.0,1.0,5.0,1.0
3,211016,1,대한항공,12.0,조재영,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,211016,1,대한항공,13.0,박지훈,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [342]:
print(len(df))

9880

In [343]:
df.to_excel('boxscore2122.xlsx', index=False)

In [350]:
df = pd.read_csv("/Users/ryansung/boxscore2122.csv")

## Total Contribution in a set

In [345]:
"""Assuming your DataFrame is named 'df' + add a column "contribution" 
where adds all values of box (attack+block+serve+set+dig+receive-error)"""

# Create a new column 'cont_in_set' and initialize it with 0
df['cont_in_set'] = 0

# Iterate over the rows and calculate the total contribution for each set
total_contribution = 0
prev_set_info = None
set_indices = []

for index, row in df.iterrows():
    curr_set_info = (row['date'], row['set'], row['team'])
    
    if prev_set_info is None or any(curr != prev for curr, prev in zip(curr_set_info, prev_set_info)):
        # New set, update the previous set's contribution
        if prev_set_info is not None:
            for set_index in set_indices:
                df.loc[set_index, 'cont_in_set'] = total_contribution
        
        total_contribution = 0  # Reset the total contribution
        set_indices = [index]
    else:
        set_indices.append(index)
    
    total_contribution += row['contribution']  # Add to the total contribution
    
    prev_set_info = curr_set_info

# Update the final set's contribution
for set_index in set_indices:
    df.loc[set_index, 'cont_in_set'] = total_contribution

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)

In [346]:
df.head(50)

,date,set,team,no,player,attack,block,serve,set_1,receive,...,error,std_attack,std_block,std_serve,std_set_1,std_receive,std_dig,std_error,contribution,cont_in_set
0,211016,1,대한항공,2,한선수,2,0,0,9,0,...,1,1.176471,0.0,0.000000,3.6,0.000000,1.818182,1.25,5.344652,37.319009
1,211016,1,대한항공,6,이수황,1,0,1,0,0,...,1,0.588235,0.0,1.111111,0.0,0.000000,1.818182,1.25,2.267528,37.319009
2,211016,1,대한항공,9,곽승석,1,0,0,1,1,...,1,0.588235,0.0,0.000000,0.4,0.769231,4.545455,1.25,5.052921,37.319009
3,211016,1,대한항공,12,조재영,0,2,0,0,0,...,0,0.000000,5.0,0.000000,0.0,0.000000,0.000000,0.00,5.000000,37.319009
4,211016,1,대한항공,13,박지훈,0,0,0,0,1,...,0,0.000000,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,37.319009
5,211016,1,대한항공,14,오은렬,0,0,0,1,3,...,0,0.000000,0.0,0.000000,0.4,2.307692,2.727273,0.00,5.434965,37.319009
6,211016,1,대한항공,17,임동혁,6,0,0,0,1,...,1,3.529412,0.0,0.000000,0.0,0.769231,2.727273,1.25,5.775915,37.319009
7,211016,1,대한항공,18,링컨,3,2,0,0,0,...,0,1.764706,5.0,0.000000,0.0,0.000000,0.909091,0.00,7.673797,37.319009
8,211016,2,대한항공,2,한선수,0,0,0,13,0,...,2,0.000000,0.0,0.000000,5.2,0.000000,0.000000,2.50,2.700000,28.749824
9,211016,2,대한항공,5,유광우,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,28.749824
10,211016,2,대한항공,6,이수황,1,0,1,0,0,...,0,0.588235,0.0,1.111111,0.0,0.000000,0.000000,0.00,1.699346,28.749824
11,211016,2,대한항공,9,곽승석,2,0,0,1,5,...,1,1.176471,0.0,0.000000,0.4,3.846154,1.818182,1.25,5.990806,28.749824
12,211016,2,대한항공,12,조재영,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,28.749824
13,211016,2,대한항공,13,박지훈,0,0,0,0,1,...,0,0.000000,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,28.749824
14,211016,2,대한항공,14,오은렬,0,0,0,0,4,...,0,0.000000,0.0,0.000000,0.0,3.076923,2.727273,0.00,5.804196,28.749824
15,211016,2,대한항공,17,임동혁,4,0,0,0,0,...,1,2.352941,0.0,0.000000,0.0,0.000000,2.727273,1.25,3.830214,28.749824
16,211016,2,대한항공,18,링컨,7,2,1,0,0,...,4,4.117647,5.0,1.111111,0.0,0.000000,1.818182,5.00,7.046940,28.749824
17,211016,3,대한항공,2,한선수,0,1,0,8,0,...,2,0.000000,2.5,0.000000,3.2,0.000000,0.000000,2.50,3.200000,10.416068
18,211016,3,대한항공,5,유광우,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068
19,211016,3,대한항공,6,이수황,1,1,0,0,0,...,0,0.588235,2.5,0.000000,0.0,0.000000,0.000000,0.00,3.088235,10.416068
20,211016,3,대한항공,9,곽승석,1,0,0,0,3,...,0,0.588235,0.0,0.000000,0.0,2.307692,0.909091,0.00,3.805019,10.416068
21,211016,3,대한항공,12,조재영,0,0,0,0,0,...,2,0.000000,0.0,0.000000,0.0,0.000000,0.000000,2.50,-2.500000,10.416068
22,211016,3,대한항공,13,박지훈,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068
23,211016,3,대한항공,14,오은렬,0,0,0,1,2,...,0,0.000000,0.0,0.000000,0.4,1.538462,0.909091,0.00,2.847552,10.416068
24,211016,3,대한항공,16,정한용,0,0,0,0,0,...,1,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,10.416068
25,211016,3,대한항공,17,임동혁,4,0,1,0,1,...,3,2.352941,0.0,1.111111,0.0,0.769231,1.818182,3.75,2.301465,10.416068
26,211016,3,대한항공,18,링컨,3,0,0,0,0,...,3,1.764706,0.0,0.000000,0.0,0.000000,0.909091,3.75,-1.076203,10.416068
27,211016,4,대한항공,2,한선수,0,0,0,13,0,...,2,0.000000,0.0,0.000000,5.2,0.000000,1.818182,2.50,4.518182,25.439931
28,211016,4,대한항공,5,유광우,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,25.439931
29,211016,4,대한항공,6,이수황,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931
30,211016,4,대한항공,9,곽승석,0,0,0,1,5,...,1,0.000000,0.0,0.000000,0.4,3.846154,2.727273,1.25,5.723427,25.439931
31,211016,4,대한항공,12,조재영,1,1,0,0,0,...,1,0.588235,2.5,0.000000,0.0,0.000000,0.000000,1.25,1.838235,25.439931
32,211016,4,대한항공,13,박지훈,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931
33,211016,4,대한항공,14,오은렬,0,0,0,1,3,...,0,0.000000,0.0,0.000000,0.4,2.307692,0.909091,0.00,3.616783,25.439931
34,211016,4,대한항공,16,정한용,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931
35,211016,4,대한항공,17,임동혁,4,0,0,0,2,...,2,2.352941,0.0,0.000000,0.0,1.538462,0.000000,2.50,1.391403,25.439931
36,211016,4,대한항공,18,링컨,11,0,2,0,0,...,1,6.470588,0.0,2.222222,0.0,0.000000,0.000000,1.25,7.442810,25.439931
37,211016,1,우리카드,2,이호건,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383
38,211016,1,우리카드,3,최석기,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,1.818182,0.00,1.818182,25.101383
39,211016,1,우리카드,4,장지원,0,0,0,0,1,...,0,0.000000,0.0,0.000000,0.0,0.769231,3.636364,0.00,4.405594,25.101383
40,211016,1,우리카드,6,하승우,0,0,0,9,0,...,1,0.000000,0.0,0.000000,3.6,0.000000,0.000000,1.25,2.350000,25.101383
41,211016,1,우리카드,8,알렉스,3,2,0,0,0,...,3,1.764706,5.0,0.000000,0.0,0.000000,1.818182,3.75,4.832888,25.101383
42,211016,1,우리카드,9,이상욱,0,0,0,0,1,...,0,0.000000,0.0,0.000000,0.0,0.769231,0.909091,0.00,1.678322,25.101383
43,211016,1,우리카드,10,나경복,4,0,1,0,1,...,1,2.352941,0.0,1.111111,0.0,0.769231,0.000000,1.25,2.983283,25.101383
44,211016,1,우리카드,11,한성정,2,0,0,0,2,...,2,1.176471,0.0,0.000000,0.0,1.538462,0.909091,2.50,1.124023,25.101383
45,211016,1,우리카드,19,이강원,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383
46,211016,1,우리카드,20,이상현,0,2,0,0,0,...,0,0.000000,5.0,0.000000,0.0,0.000000,0.909091,0.00,5.909091,25.101383
47,211016,2,우리카드,2,이호건,0,0,0,0,0,...,0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,24.912910
48,211016,2,우리카드,3,최석기,0,0,0,0,0,...,1,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,24.912910
49,211016,2,우리카드,4,장지원,0,0,0,1,0,...,0,0.000000,0.0,0.000000,0.4,0.000000,1.818182,0.00,2.218182,24.912910

### # Add a new column 'true_cont' to calculate the percentage of 'contribution' to 'cont_in_set'

In [347]:
df['true_cont'] = df['contribution'] / df['cont_in_set']
df.head(50)

,date,set,team,no,player,attack,block,serve,set_1,receive,...,std_attack,std_block,std_serve,std_set_1,std_receive,std_dig,std_error,contribution,cont_in_set,true_cont
0,211016,1,대한항공,2,한선수,2,0,0,9,0,...,1.176471,0.0,0.000000,3.6,0.000000,1.818182,1.25,5.344652,37.319009,0.143215
1,211016,1,대한항공,6,이수황,1,0,1,0,0,...,0.588235,0.0,1.111111,0.0,0.000000,1.818182,1.25,2.267528,37.319009,0.060761
2,211016,1,대한항공,9,곽승석,1,0,0,1,1,...,0.588235,0.0,0.000000,0.4,0.769231,4.545455,1.25,5.052921,37.319009,0.135398
3,211016,1,대한항공,12,조재영,0,2,0,0,0,...,0.000000,5.0,0.000000,0.0,0.000000,0.000000,0.00,5.000000,37.319009,0.133980
4,211016,1,대한항공,13,박지훈,0,0,0,0,1,...,0.000000,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,37.319009,0.020612
5,211016,1,대한항공,14,오은렬,0,0,0,1,3,...,0.000000,0.0,0.000000,0.4,2.307692,2.727273,0.00,5.434965,37.319009,0.145635
6,211016,1,대한항공,17,임동혁,6,0,0,0,1,...,3.529412,0.0,0.000000,0.0,0.769231,2.727273,1.25,5.775915,37.319009,0.154771
7,211016,1,대한항공,18,링컨,3,2,0,0,0,...,1.764706,5.0,0.000000,0.0,0.000000,0.909091,0.00,7.673797,37.319009,0.205627
8,211016,2,대한항공,2,한선수,0,0,0,13,0,...,0.000000,0.0,0.000000,5.2,0.000000,0.000000,2.50,2.700000,28.749824,0.093914
9,211016,2,대한항공,5,유광우,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,28.749824,0.000000
10,211016,2,대한항공,6,이수황,1,0,1,0,0,...,0.588235,0.0,1.111111,0.0,0.000000,0.000000,0.00,1.699346,28.749824,0.059108
11,211016,2,대한항공,9,곽승석,2,0,0,1,5,...,1.176471,0.0,0.000000,0.4,3.846154,1.818182,1.25,5.990806,28.749824,0.208377
12,211016,2,대한항공,12,조재영,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,28.749824,0.031621
13,211016,2,대한항공,13,박지훈,0,0,0,0,1,...,0.000000,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,28.749824,0.026756
14,211016,2,대한항공,14,오은렬,0,0,0,0,4,...,0.000000,0.0,0.000000,0.0,3.076923,2.727273,0.00,5.804196,28.749824,0.201886
15,211016,2,대한항공,17,임동혁,4,0,0,0,0,...,2.352941,0.0,0.000000,0.0,0.000000,2.727273,1.25,3.830214,28.749824,0.133226
16,211016,2,대한항공,18,링컨,7,2,1,0,0,...,4.117647,5.0,1.111111,0.0,0.000000,1.818182,5.00,7.046940,28.749824,0.245112
17,211016,3,대한항공,2,한선수,0,1,0,8,0,...,0.000000,2.5,0.000000,3.2,0.000000,0.000000,2.50,3.200000,10.416068,0.307218
18,211016,3,대한항공,5,유광우,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068,0.000000
19,211016,3,대한항공,6,이수황,1,1,0,0,0,...,0.588235,2.5,0.000000,0.0,0.000000,0.000000,0.00,3.088235,10.416068,0.296488
20,211016,3,대한항공,9,곽승석,1,0,0,0,3,...,0.588235,0.0,0.000000,0.0,2.307692,0.909091,0.00,3.805019,10.416068,0.365303
21,211016,3,대한항공,12,조재영,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,2.50,-2.500000,10.416068,-0.240014
22,211016,3,대한항공,13,박지훈,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068,0.000000
23,211016,3,대한항공,14,오은렬,0,0,0,1,2,...,0.000000,0.0,0.000000,0.4,1.538462,0.909091,0.00,2.847552,10.416068,0.273381
24,211016,3,대한항공,16,정한용,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,10.416068,-0.120007
25,211016,3,대한항공,17,임동혁,4,0,1,0,1,...,2.352941,0.0,1.111111,0.0,0.769231,1.818182,3.75,2.301465,10.416068,0.220953
26,211016,3,대한항공,18,링컨,3,0,0,0,0,...,1.764706,0.0,0.000000,0.0,0.000000,0.909091,3.75,-1.076203,10.416068,-0.103321
27,211016,4,대한항공,2,한선수,0,0,0,13,0,...,0.000000,0.0,0.000000,5.2,0.000000,1.818182,2.50,4.518182,25.439931,0.177602
28,211016,4,대한항공,5,유광우,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,25.439931,0.035735
29,211016,4,대한항공,6,이수황,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000
30,211016,4,대한항공,9,곽승석,0,0,0,1,5,...,0.000000,0.0,0.000000,0.4,3.846154,2.727273,1.25,5.723427,25.439931,0.224978
31,211016,4,대한항공,12,조재영,1,1,0,0,0,...,0.588235,2.5,0.000000,0.0,0.000000,0.000000,1.25,1.838235,25.439931,0.072258
32,211016,4,대한항공,13,박지훈,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000
33,211016,4,대한항공,14,오은렬,0,0,0,1,3,...,0.000000,0.0,0.000000,0.4,2.307692,0.909091,0.00,3.616783,25.439931,0.142170
34,211016,4,대한항공,16,정한용,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000
35,211016,4,대한항공,17,임동혁,4,0,0,0,2,...,2.352941,0.0,0.000000,0.0,1.538462,0.000000,2.50,1.391403,25.439931,0.054694
36,211016,4,대한항공,18,링컨,11,0,2,0,0,...,6.470588,0.0,2.222222,0.0,0.000000,0.000000,1.25,7.442810,25.439931,0.292564
37,211016,1,우리카드,2,이호건,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383,0.000000
38,211016,1,우리카드,3,최석기,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,1.818182,0.00,1.818182,25.101383,0.072434
39,211016,1,우리카드,4,장지원,0,0,0,0,1,...,0.000000,0.0,0.000000,0.0,0.769231,3.636364,0.00,4.405594,25.101383,0.175512
40,211016,1,우리카드,6,하승우,0,0,0,9,0,...,0.000000,0.0,0.000000,3.6,0.000000,0.000000,1.25,2.350000,25.101383,0.093620
41,211016,1,우리카드,8,알렉스,3,2,0,0,0,...,1.764706,5.0,0.000000,0.0,0.000000,1.818182,3.75,4.832888,25.101383,0.192535
42,211016,1,우리카드,9,이상욱,0,0,0,0,1,...,0.000000,0.0,0.000000,0.0,0.769231,0.909091,0.00,1.678322,25.101383,0.066862
43,211016,1,우리카드,10,나경복,4,0,1,0,1,...,2.352941,0.0,1.111111,0.0,0.769231,0.000000,1.25,2.983283,25.101383,0.118849
44,211016,1,우리카드,11,한성정,2,0,0,0,2,...,1.176471,0.0,0.000000,0.0,1.538462,0.909091,2.50,1.124023,25.101383,0.044779
45,211016,1,우리카드,19,이강원,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383,0.000000
46,211016,1,우리카드,20,이상현,0,2,0,0,0,...,0.000000,5.0,0.000000,0.0,0.000000,0.909091,0.00,5.909091,25.101383,0.235409
47,211016,2,우리카드,2,이호건,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,24.912910,0.000000
48,211016,2,우리카드,3,최석기,0,0,0,0,0,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,24.912910,-0.050175
49,211016,2,우리카드,4,장지원,0,0,0,1,0,...,0.000000,0.0,0.000000,0.4,0.000000,1.818182,0.00,2.218182,24.912910,0.089037

### Double check if the contribtution percentage (true_cont) adds up to 1 in all sets

In [348]:
# Group the DataFrame by 'date', 'set', and 'team' and check if the sum of 'true_cont' within each group is approximately 1
grouped = df.groupby(['date', 'set', 'team'])
group_sums = grouped['true_cont'].sum()
group_sums_equal_1 = group_sums.abs().sub(1).lt(1e-10)  # Checking if the sum is approximately 1 with a tolerance of 1e-10

# Add a new column 'true_cont_sum_equals_1' to indicate if the sum of 'true_cont' for each set equals 1
df['true_cont_sum_equals_1'] = df.apply(lambda row: group_sums_equal_1[(row['date'], row['set'], row['team'])], axis=1)
df.head(50)

,date,set,team,no,player,attack,block,serve,set_1,receive,...,std_block,std_serve,std_set_1,std_receive,std_dig,std_error,contribution,cont_in_set,true_cont,true_cont_sum_equals_1
0,211016,1,대한항공,2,한선수,2,0,0,9,0,...,0.0,0.000000,3.6,0.000000,1.818182,1.25,5.344652,37.319009,0.143215,True
1,211016,1,대한항공,6,이수황,1,0,1,0,0,...,0.0,1.111111,0.0,0.000000,1.818182,1.25,2.267528,37.319009,0.060761,True
2,211016,1,대한항공,9,곽승석,1,0,0,1,1,...,0.0,0.000000,0.4,0.769231,4.545455,1.25,5.052921,37.319009,0.135398,True
3,211016,1,대한항공,12,조재영,0,2,0,0,0,...,5.0,0.000000,0.0,0.000000,0.000000,0.00,5.000000,37.319009,0.133980,True
4,211016,1,대한항공,13,박지훈,0,0,0,0,1,...,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,37.319009,0.020612,True
5,211016,1,대한항공,14,오은렬,0,0,0,1,3,...,0.0,0.000000,0.4,2.307692,2.727273,0.00,5.434965,37.319009,0.145635,True
6,211016,1,대한항공,17,임동혁,6,0,0,0,1,...,0.0,0.000000,0.0,0.769231,2.727273,1.25,5.775915,37.319009,0.154771,True
7,211016,1,대한항공,18,링컨,3,2,0,0,0,...,5.0,0.000000,0.0,0.000000,0.909091,0.00,7.673797,37.319009,0.205627,True
8,211016,2,대한항공,2,한선수,0,0,0,13,0,...,0.0,0.000000,5.2,0.000000,0.000000,2.50,2.700000,28.749824,0.093914,True
9,211016,2,대한항공,5,유광우,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,28.749824,0.000000,True
10,211016,2,대한항공,6,이수황,1,0,1,0,0,...,0.0,1.111111,0.0,0.000000,0.000000,0.00,1.699346,28.749824,0.059108,True
11,211016,2,대한항공,9,곽승석,2,0,0,1,5,...,0.0,0.000000,0.4,3.846154,1.818182,1.25,5.990806,28.749824,0.208377,True
12,211016,2,대한항공,12,조재영,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,28.749824,0.031621,True
13,211016,2,대한항공,13,박지훈,0,0,0,0,1,...,0.0,0.000000,0.0,0.769231,0.000000,0.00,0.769231,28.749824,0.026756,True
14,211016,2,대한항공,14,오은렬,0,0,0,0,4,...,0.0,0.000000,0.0,3.076923,2.727273,0.00,5.804196,28.749824,0.201886,True
15,211016,2,대한항공,17,임동혁,4,0,0,0,0,...,0.0,0.000000,0.0,0.000000,2.727273,1.25,3.830214,28.749824,0.133226,True
16,211016,2,대한항공,18,링컨,7,2,1,0,0,...,5.0,1.111111,0.0,0.000000,1.818182,5.00,7.046940,28.749824,0.245112,True
17,211016,3,대한항공,2,한선수,0,1,0,8,0,...,2.5,0.000000,3.2,0.000000,0.000000,2.50,3.200000,10.416068,0.307218,True
18,211016,3,대한항공,5,유광우,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068,0.000000,True
19,211016,3,대한항공,6,이수황,1,1,0,0,0,...,2.5,0.000000,0.0,0.000000,0.000000,0.00,3.088235,10.416068,0.296488,True
20,211016,3,대한항공,9,곽승석,1,0,0,0,3,...,0.0,0.000000,0.0,2.307692,0.909091,0.00,3.805019,10.416068,0.365303,True
21,211016,3,대한항공,12,조재영,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,2.50,-2.500000,10.416068,-0.240014,True
22,211016,3,대한항공,13,박지훈,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,10.416068,0.000000,True
23,211016,3,대한항공,14,오은렬,0,0,0,1,2,...,0.0,0.000000,0.4,1.538462,0.909091,0.00,2.847552,10.416068,0.273381,True
24,211016,3,대한항공,16,정한용,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,10.416068,-0.120007,True
25,211016,3,대한항공,17,임동혁,4,0,1,0,1,...,0.0,1.111111,0.0,0.769231,1.818182,3.75,2.301465,10.416068,0.220953,True
26,211016,3,대한항공,18,링컨,3,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.909091,3.75,-1.076203,10.416068,-0.103321,True
27,211016,4,대한항공,2,한선수,0,0,0,13,0,...,0.0,0.000000,5.2,0.000000,1.818182,2.50,4.518182,25.439931,0.177602,True
28,211016,4,대한항공,5,유광우,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.909091,0.00,0.909091,25.439931,0.035735,True
29,211016,4,대한항공,6,이수황,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000,True
30,211016,4,대한항공,9,곽승석,0,0,0,1,5,...,0.0,0.000000,0.4,3.846154,2.727273,1.25,5.723427,25.439931,0.224978,True
31,211016,4,대한항공,12,조재영,1,1,0,0,0,...,2.5,0.000000,0.0,0.000000,0.000000,1.25,1.838235,25.439931,0.072258,True
32,211016,4,대한항공,13,박지훈,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000,True
33,211016,4,대한항공,14,오은렬,0,0,0,1,3,...,0.0,0.000000,0.4,2.307692,0.909091,0.00,3.616783,25.439931,0.142170,True
34,211016,4,대한항공,16,정한용,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.439931,0.000000,True
35,211016,4,대한항공,17,임동혁,4,0,0,0,2,...,0.0,0.000000,0.0,1.538462,0.000000,2.50,1.391403,25.439931,0.054694,True
36,211016,4,대한항공,18,링컨,11,0,2,0,0,...,0.0,2.222222,0.0,0.000000,0.000000,1.25,7.442810,25.439931,0.292564,True
37,211016,1,우리카드,2,이호건,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383,0.000000,True
38,211016,1,우리카드,3,최석기,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,1.818182,0.00,1.818182,25.101383,0.072434,True
39,211016,1,우리카드,4,장지원,0,0,0,0,1,...,0.0,0.000000,0.0,0.769231,3.636364,0.00,4.405594,25.101383,0.175512,True
40,211016,1,우리카드,6,하승우,0,0,0,9,0,...,0.0,0.000000,3.6,0.000000,0.000000,1.25,2.350000,25.101383,0.093620,True
41,211016,1,우리카드,8,알렉스,3,2,0,0,0,...,5.0,0.000000,0.0,0.000000,1.818182,3.75,4.832888,25.101383,0.192535,True
42,211016,1,우리카드,9,이상욱,0,0,0,0,1,...,0.0,0.000000,0.0,0.769231,0.909091,0.00,1.678322,25.101383,0.066862,True
43,211016,1,우리카드,10,나경복,4,0,1,0,1,...,0.0,1.111111,0.0,0.769231,0.000000,1.25,2.983283,25.101383,0.118849,True
44,211016,1,우리카드,11,한성정,2,0,0,0,2,...,0.0,0.000000,0.0,1.538462,0.909091,2.50,1.124023,25.101383,0.044779,True
45,211016,1,우리카드,19,이강원,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,25.101383,0.000000,True
46,211016,1,우리카드,20,이상현,0,2,0,0,0,...,5.0,0.000000,0.0,0.000000,0.909091,0.00,5.909091,25.101383,0.235409,True
47,211016,2,우리카드,2,이호건,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,0.00,0.000000,24.912910,0.000000,True
48,211016,2,우리카드,3,최석기,0,0,0,0,0,...,0.0,0.000000,0.0,0.000000,0.000000,1.25,-1.250000,24.912910,-0.050175,True
49,211016,2,우리카드,4,장지원,0,0,0,1,0,...,0.0,0.000000,0.4,0.000000,1.818182,0.00,2.218182,24.912910,0.089037,True

In [349]:
# Save df as Excel
df.to_excel('boxscore2122.xlsx', index=False)

## Men

In [201]:
df = pd.read_csv("/Users/ryansung/Downloads/2223_0_m.csv")

## Contribution with less set.1

In [202]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Create a new column 'cont_in_set' and initialize it with 0
df['cont_in_set'] = 0

# Iterate over the rows and calculate the total contribution for each set
total_contribution = 0
prev_set_info = None
set_indices = []

for index, row in df.iterrows():
    curr_set_info = (row['date'], row['set'], row['team'])
    
    if prev_set_info is None or any(curr != prev for curr, prev in zip(curr_set_info, prev_set_info)):
        # New set, update the previous set's contribution
        if prev_set_info is not None:
            for set_index in set_indices:
                df.loc[set_index, 'cont_in_set'] = total_contribution
        
        total_contribution = 0  # Reset the total contribution
        set_indices = [index]
    else:
        set_indices.append(index)
    
    total_contribution += row['cont_ms_pb']  # Add to the total contribution
    
    prev_set_info = curr_set_info

# Update the final set's contribution
for set_index in set_indices:
    df.loc[set_index, 'cont_in_set'] = total_contribution

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df.head(5)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,half_set.1,cont_lessset,contribution,onehalf_block,cont_ms_pb,cont_in_set
0,221022,1,대한항공,1,김규민,6,4,0,0,0,0,1,0.0,9.0,9,6.0,11.0,132.0
1,221022,1,대한항공,2,한선수,1,2,0,40,0,5,2,20.0,26.0,46,3.0,27.0,132.0
2,221022,1,대한항공,5,유광우,0,0,0,7,0,1,0,3.5,4.5,8,0.0,4.5,132.0
3,221022,1,대한항공,7,이준,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0
4,221022,1,대한항공,8,진지위,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0

### Contribution with 1/2 of set.1

In [203]:
# Add a new column 'true_cont' to calculate the ratio of 'contribution' to 'cont_in_set'
df['true_cont'] = df['cont_ms_pb'] / df['cont_in_set']
df.head(5)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,half_set.1,cont_lessset,contribution,onehalf_block,cont_ms_pb,cont_in_set,true_cont
0,221022,1,대한항공,1,김규민,6,4,0,0,0,0,1,0.0,9.0,9,6.0,11.0,132.0,0.083333
1,221022,1,대한항공,2,한선수,1,2,0,40,0,5,2,20.0,26.0,46,3.0,27.0,132.0,0.204545
2,221022,1,대한항공,5,유광우,0,0,0,7,0,1,0,3.5,4.5,8,0.0,4.5,132.0,0.034091
3,221022,1,대한항공,7,이준,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000
4,221022,1,대한항공,8,진지위,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000

### Checking

In [204]:
# Group the DataFrame by 'date', 'set', and 'team' and check if the sum of 'true_cont' within each group is approximately 1
grouped = df.groupby(['date', 'set', 'team'])
group_sums = grouped['true_cont'].sum()
group_sums_equal_1 = group_sums.abs().sub(1).lt(1e-10)  # Checking if the sum is approximately 1 with a tolerance of 1e-10

# Add a new column 'true_cont_sum_equals_1' to indicate if the sum of 'true_cont' for each set equals 1
df['true_cont_sum_equals_1'] = df.apply(lambda row: group_sums_equal_1[(row['date'], row['set'], row['team'])], axis=1)
df.head(50)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,half_set.1,cont_lessset,contribution,onehalf_block,cont_ms_pb,cont_in_set,true_cont,true_cont_sum_equals_1
0,221022,1,대한항공,1,김규민,6,4,0,0,0,0,1,0.0,9.0,9,6.0,11.0,132.0,0.083333,True
1,221022,1,대한항공,2,한선수,1,2,0,40,0,5,2,20.0,26.0,46,3.0,27.0,132.0,0.204545,True
2,221022,1,대한항공,5,유광우,0,0,0,7,0,1,0,3.5,4.5,8,0.0,4.5,132.0,0.034091,True
3,221022,1,대한항공,7,이준,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
4,221022,1,대한항공,8,진지위,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
5,221022,1,대한항공,9,곽승석,7,0,0,1,7,10,6,0.5,18.5,19,0.0,18.5,132.0,0.140152,True
6,221022,1,대한항공,10,정지석,9,1,2,1,12,10,7,0.5,27.5,28,1.5,28.0,132.0,0.212121,True
7,221022,1,대한항공,12,조재영,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
8,221022,1,대한항공,13,박지훈,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
9,221022,1,대한항공,14,오은렬,0,0,0,1,2,7,0,0.5,9.5,10,0.0,9.5,132.0,0.071970,True
10,221022,1,대한항공,15,임재영,0,0,0,0,0,1,1,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
11,221022,1,대한항공,16,정한용,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,132.0,0.000000,True
12,221022,1,대한항공,17,임동혁,6,1,0,0,0,0,0,0.0,7.0,7,1.5,7.5,132.0,0.056818,True
13,221022,1,대한항공,18,링컨,19,0,0,0,0,5,7,0.0,17.0,17,0.0,17.0,132.0,0.128788,True
14,221022,1,대한항공,23,김민재,7,3,0,1,0,1,4,0.5,7.5,8,4.5,9.0,132.0,0.068182,True
15,221022,2,대한항공,1,김규민,2,1,0,0,0,0,1,0.0,2.0,2,1.5,2.5,33.5,0.074627,True
16,221022,2,대한항공,2,한선수,0,1,0,14,0,1,1,7.0,8.0,15,1.5,8.5,33.5,0.253731,True
17,221022,2,대한항공,9,곽승석,2,0,0,1,3,1,1,0.5,5.5,6,0.0,5.5,33.5,0.164179,True
18,221022,2,대한항공,10,정지석,4,0,1,0,3,3,2,0.0,9.0,9,0.0,9.0,33.5,0.268657,True
19,221022,2,대한항공,14,오은렬,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,33.5,0.000000,True
20,221022,2,대한항공,15,임재영,0,0,0,0,0,0,1,0.0,-1.0,-1,0.0,-1.0,33.5,-0.029851,True
21,221022,2,대한항공,16,정한용,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,33.5,0.000000,True
22,221022,2,대한항공,17,임동혁,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,33.5,0.000000,True
23,221022,2,대한항공,18,링컨,4,0,0,0,0,3,3,0.0,4.0,4,0.0,4.0,33.5,0.119403,True
24,221022,2,대한항공,23,김민재,3,2,0,0,0,0,1,0.0,4.0,4,3.0,5.0,33.5,0.149254,True
25,221022,3,대한항공,1,김규민,2,1,0,0,0,0,0,0.0,3.0,3,1.5,3.5,38.5,0.090909,True
26,221022,3,대한항공,2,한선수,0,1,0,7,0,1,1,3.5,4.5,8,1.5,5.0,38.5,0.129870,True
27,221022,3,대한항공,5,유광우,0,0,0,5,0,1,0,2.5,3.5,6,0.0,3.5,38.5,0.090909,True
28,221022,3,대한항공,9,곽승석,1,0,0,0,0,4,2,0.0,3.0,3,0.0,3.0,38.5,0.077922,True
29,221022,3,대한항공,10,정지석,3,0,0,0,2,3,1,0.0,7.0,7,0.0,7.0,38.5,0.181818,True
30,221022,3,대한항공,14,오은렬,0,0,0,1,0,4,0,0.5,4.5,5,0.0,4.5,38.5,0.116883,True
31,221022,3,대한항공,16,정한용,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,38.5,0.000000,True
32,221022,3,대한항공,17,임동혁,4,1,0,0,0,0,0,0.0,5.0,5,1.5,5.5,38.5,0.142857,True
33,221022,3,대한항공,18,링컨,3,0,0,0,0,2,1,0.0,4.0,4,0.0,4.0,38.5,0.103896,True
34,221022,3,대한항공,23,김민재,2,0,0,1,0,0,0,0.5,2.5,3,0.0,2.5,38.5,0.064935,True
35,221022,4,대한항공,1,김규민,0,2,0,0,0,0,0,0.0,2.0,2,3.0,3.0,31.5,0.095238,True
36,221022,4,대한항공,2,한선수,0,0,0,10,0,2,0,5.0,7.0,12,0.0,7.0,31.5,0.222222,True
37,221022,4,대한항공,5,유광우,0,0,0,2,0,0,0,1.0,1.0,2,0.0,1.0,31.5,0.031746,True
38,221022,4,대한항공,9,곽승석,4,0,0,0,2,3,1,0.0,8.0,8,0.0,8.0,31.5,0.253968,True
39,221022,4,대한항공,10,정지석,1,0,0,1,3,1,4,0.5,1.5,2,0.0,1.5,31.5,0.047619,True
40,221022,4,대한항공,14,오은렬,0,0,0,0,1,1,0,0.0,2.0,2,0.0,2.0,31.5,0.063492,True
41,221022,4,대한항공,16,정한용,0,0,0,0,0,0,0,0.0,0.0,0,0.0,0.0,31.5,0.000000,True
42,221022,4,대한항공,17,임동혁,2,0,0,0,0,0,0,0.0,2.0,2,0.0,2.0,31.5,0.063492,True
43,221022,4,대한항공,18,링컨,5,0,0,0,0,0,0,0.0,5.0,5,0.0,5.0,31.5,0.158730,True
44,221022,4,대한항공,23,김민재,2,0,0,0,0,1,1,0.0,2.0,2,0.0,2.0,31.5,0.063492,True
45,221022,1,KB손해보험,1,정동근,0,0,0,0,0,1,0,0.0,1.0,1,0.0,1.0,31.0,0.032258,True
46,221022,1,KB손해보험,2,황택의,0,0,0,12,0,0,1,6.0,5.0,11,0.0,5.0,31.0,0.161290,True
47,221022,1,KB손해보험,4,정민수,0,0,0,1,3,1,0,0.5,4.5,5,0.0,4.5,31.0,0.145161,True
48,221022,1,KB손해보험,6,김정호,2,0,0,0,2,2,2,0.0,4.0,4,0.0,4.0,31.0,0.129032,True
49,221022,1,KB손해보험,7,박진우,1,0,0,1,0,0,1,0.5,0.5,1,0.0,0.5,31.0,0.016129,True

In [205]:
# Save df as Excel
df.to_excel('2223m2.xlsx', index=False)

In [309]:
df = pd.read_csv("/Users/ryansung/std_2223m.csv")

In [310]:
df.head()

,date,set,team,no,player,std_attack,std_block,std_serve,std_set_1,std_receive,std_dig,std_error,contribution,cont_in_set,true_cont,true_cont_sum_equals_1,percentage
0,221022,1,대한항공,1,김규민,3.157895,8,0.0,0.00,0.0,0,1.428571,9.729323,84.530702,0.115098,True,11.509810
1,221022,1,대한항공,2,한선수,0.526316,4,0.0,10.00,0.0,5,2.857143,16.669173,84.530702,0.197197,True,19.719667
2,221022,1,대한항공,5,유광우,0.000000,0,0.0,1.75,0.0,1,0.000000,2.750000,84.530702,0.032533,True,3.253256
3,221022,1,대한항공,7,이준,0.000000,0,0.0,0.00,0.0,0,0.000000,0.000000,84.530702,0.000000,True,0.000000
4,221022,1,대한항공,8,진지위,0.000000,0,0.0,0.00,0.0,0,0.000000,0.000000,84.530702,0.000000,True,0.000000

## Average contribution % for the 2223 season

In [351]:
# Assuming you have a column named 'contribution_percentage' containing the contribution percentage for each player

# Calculate the average contribution percentage for each player
average_contribution = df.groupby('player')['percentage'].mean().reset_index()

# Print or display the average contribution percentage for each player
average_contribution.head(50)

   player  percentage
0       0    0.000000
1     강정민   11.011640
2     고준용    5.772941
3     공재학    1.081930
4     곽동혁    7.105013
5     곽명우   24.653124
6     곽승석   20.522876
7     구도현    2.893315
8     구자혁    9.070942
9     권준형   14.541736
10    김광국   16.865572
11    김광일   13.158144
12    김규민    5.339870
13    김도훈    8.970142
14    김동영   -0.914661
15    김명관   21.343817
16    김민재    7.415039
17    김선호   13.580446
18    김영준    4.168210
19    김완종   -0.319327
20    김우진   -0.857166
21    김웅비    0.429791
22    김인균   -4.076197
23    김인혁   -7.504129
24    김재휘    6.868688
25    김정윤    3.817540
26    김정호   12.539083
27    김지승    3.697053
28    김지한   -0.464656
29    김형진    2.726461
30    김홍정    6.019294
31    나경복   16.962682
32    노재욱   16.000885
33    다우디   10.548189
34     러셀   12.328298
35     레오   14.311324
36    류윤식    9.541933
37     링컨   10.481715
38    문성민    7.039131
39    문지훈    4.823886
40    박경민   19.552566
41    박상하    8.103935
42    박승수   11.192147
43    박원빈    7.209567
44    박주형   13.949922
45    박준혁    0.856519
46    박지윤   -1.426629
47    박지훈    9.645454
48    박진우    7.547116
49    박찬웅    5.066478

### "Elite" players = contribution > 15%

In [352]:
## filtered_data = average_contribution[average_contribution['percentage'] > 15]
filtered_data = average_contribution[average_contribution['percentage'] > 15]

# Display the filtered rows
print(filtered_data)

    player  percentage
5      곽명우   24.653124
6      곽승석   20.522876
10     김광국   16.865572
15     김명관   21.343817
31     나경복   16.962682
32     노재욱   16.000885
40     박경민   19.552566
52     백광현   18.159864
54     서재덕   19.094616
69     오재성   15.877073
78     이시몬   18.299069
89     전광인   19.661000
92     정민수   18.177625
95     정성현   15.332703
99     정지석   16.514374
117    케이타   17.329759
119    하승우   21.629742
124    한선수   20.067665
125    한성정   16.766992
131    황경민   19.134211
134    황승빈   24.896938
135    황택의   22.579156

In [353]:
# Sort the filtered data by decreasing percentage
sorted_data = filtered_data.sort_values(by='percentage', ascending=False)

# Display the sorted rows
print(sorted_data)

    player  percentage
134    황승빈   24.896938
5      곽명우   24.653124
135    황택의   22.579156
119    하승우   21.629742
15     김명관   21.343817
6      곽승석   20.522876
124    한선수   20.067665
89     전광인   19.661000
40     박경민   19.552566
131    황경민   19.134211
54     서재덕   19.094616
78     이시몬   18.299069
92     정민수   18.177625
52     백광현   18.159864
117    케이타   17.329759
31     나경복   16.962682
10     김광국   16.865572
125    한성정   16.766992
99     정지석   16.514374
32     노재욱   16.000885
69     오재성   15.877073
95     정성현   15.332703

In [213]:
# Save df as Excel
average_contribution.to_excel('avg_cont_m2.xlsx', index=False)

## Women contribution with less set.1

In [188]:
df = pd.read_csv("/Users/ryansung/Downloads/2223_0_w.csv")

In [189]:
import pandas as pd

# Assuming your DataFrame is named 'df'

# Create a new column 'cont_in_set' and initialize it with 0
df['cont_in_set'] = 0

# Iterate over the rows and calculate the total contribution for each set
total_contribution = 0
prev_set_info = None
set_indices = []

for index, row in df.iterrows():
    curr_set_info = (row['date'], row['set'], row['team'])
    
    if prev_set_info is None or any(curr != prev for curr, prev in zip(curr_set_info, prev_set_info)):
        # New set, update the previous set's contribution
        if prev_set_info is not None:
            for set_index in set_indices:
                df.loc[set_index, 'cont_in_set'] = total_contribution
        
        total_contribution = 0  # Reset the total contribution
        set_indices = [index]
    else:
        set_indices.append(index)
    
    total_contribution += row['cont_lessset']  # Add to the total contribution
    
    prev_set_info = curr_set_info

# Update the final set's contribution
for set_index in set_indices:
    df.loc[set_index, 'cont_in_set'] = total_contribution

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df.head(5)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,set.1_half,cont_lessset,contribution,cont_in_set
0,221022,1,현대건설,3,김다인,0,0,0,15,0,0,0,7.5,7.5,15,48.5
1,221022,1,현대건설,8,김연견,0,0,0,0,2,2,0,0.0,4.0,4,48.5
2,221022,1,현대건설,9,나현수,0,0,0,0,0,0,0,0.0,0.0,0,48.5
3,221022,1,현대건설,10,야스민,7,0,0,0,0,1,1,0.0,7.0,7,48.5
4,221022,1,현대건설,12,이다현,0,1,2,0,1,3,1,0.0,6.0,6,48.5

In [190]:
# Add a new column 'true_cont' to calculate the ratio of 'contribution' to 'cont_in_set'
df['true_cont'] = df['cont_lessset'] / df['cont_in_set']
df.head(5)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,set.1_half,cont_lessset,contribution,cont_in_set,true_cont
0,221022,1,현대건설,3,김다인,0,0,0,15,0,0,0,7.5,7.5,15,48.5,0.154639
1,221022,1,현대건설,8,김연견,0,0,0,0,2,2,0,0.0,4.0,4,48.5,0.082474
2,221022,1,현대건설,9,나현수,0,0,0,0,0,0,0,0.0,0.0,0,48.5,0.000000
3,221022,1,현대건설,10,야스민,7,0,0,0,0,1,1,0.0,7.0,7,48.5,0.144330
4,221022,1,현대건설,12,이다현,0,1,2,0,1,3,1,0.0,6.0,6,48.5,0.123711

In [191]:
# Group the DataFrame by 'date', 'set', and 'team' and check if the sum of 'true_cont' within each group is approximately 1
grouped = df.groupby(['date', 'set', 'team'])
group_sums = grouped['true_cont'].sum()
group_sums_equal_1 = group_sums.abs().sub(1).lt(1e-10)  # Checking if the sum is approximately 1 with a tolerance of 1e-10

# Add a new column 'true_cont_sum_equals_1' to indicate if the sum of 'true_cont' for each set equals 1
df['true_cont_sum_equals_1'] = df.apply(lambda row: group_sums_equal_1[(row['date'], row['set'], row['team'])], axis=1)
df.head(50)

,date,set,team,no,player,attack,block,serve,set.1,receive,dig,error,set.1_half,cont_lessset,contribution,cont_in_set,true_cont,true_cont_sum_equals_1
0,221022,1,현대건설,3,김다인,0,0,0,15,0,0,0,7.5,7.5,15,48.5,0.154639,True
1,221022,1,현대건설,8,김연견,0,0,0,0,2,2,0,0.0,4.0,4,48.5,0.082474,True
2,221022,1,현대건설,9,나현수,0,0,0,0,0,0,0,0.0,0.0,0,48.5,0.000000,True
3,221022,1,현대건설,10,야스민,7,0,0,0,0,1,1,0.0,7.0,7,48.5,0.144330,True
4,221022,1,현대건설,12,이다현,0,1,2,0,1,3,1,0.0,6.0,6,48.5,0.123711,True
5,221022,1,현대건설,14,양효진,4,1,0,0,0,3,0,0.0,8.0,8,48.5,0.164948,True
6,221022,1,현대건설,15,황민경,4,0,0,1,0,2,1,0.5,5.5,6,48.5,0.113402,True
7,221022,1,현대건설,17,고예림,4,0,0,1,1,5,0,0.5,10.5,11,48.5,0.216495,True
8,221022,1,현대건설,24,김주하,0,0,0,0,0,0,0,0.0,0.0,0,48.5,0.000000,True
9,221022,2,현대건설,3,김다인,0,0,1,10,0,2,0,5.0,8.0,13,38.0,0.210526,True
10,221022,2,현대건설,8,김연견,0,0,0,0,3,9,0,0.0,12.0,12,38.0,0.315789,True
11,221022,2,현대건설,9,나현수,0,0,0,0,0,0,0,0.0,0.0,0,38.0,0.000000,True
12,221022,2,현대건설,10,야스민,3,0,2,0,0,2,0,0.0,7.0,7,38.0,0.184211,True
13,221022,2,현대건설,12,이다현,2,1,0,0,0,1,0,0.0,4.0,4,38.0,0.105263,True
14,221022,2,현대건설,14,양효진,1,2,1,0,0,1,2,0.0,3.0,3,38.0,0.078947,True
15,221022,2,현대건설,15,황민경,1,0,0,0,0,1,2,0.0,0.0,0,38.0,0.000000,True
16,221022,2,현대건설,17,고예림,3,1,0,0,1,0,2,0.0,3.0,3,38.0,0.078947,True
17,221022,2,현대건설,18,한미르,0,0,0,0,0,0,0,0.0,0.0,0,38.0,0.000000,True
18,221022,2,현대건설,24,김주하,0,0,0,0,0,1,0,0.0,1.0,1,38.0,0.026316,True
19,221022,3,현대건설,3,김다인,0,0,0,9,0,5,0,4.5,9.5,14,54.5,0.174312,True
20,221022,3,현대건설,8,김연견,0,0,0,2,1,6,0,1.0,8.0,9,54.5,0.146789,True
21,221022,3,현대건설,10,야스민,5,1,1,0,0,3,2,0.0,8.0,8,54.5,0.146789,True
22,221022,3,현대건설,12,이다현,1,1,1,1,0,1,1,0.5,3.5,4,54.5,0.064220,True
23,221022,3,현대건설,13,정지윤,1,0,0,0,1,1,1,0.0,2.0,2,54.5,0.036697,True
24,221022,3,현대건설,14,양효진,3,0,0,0,0,0,0,0.0,3.0,3,54.5,0.055046,True
25,221022,3,현대건설,15,황민경,1,0,0,0,3,4,0,0.0,8.0,8,54.5,0.146789,True
26,221022,3,현대건설,17,고예림,2,1,0,1,2,8,0,0.5,13.5,14,54.5,0.247706,True
27,221022,3,현대건설,25,이나연,0,0,0,0,0,0,1,0.0,-1.0,-1,54.5,-0.018349,True
28,221022,1,한국도로공사,1,카타리나,7,0,0,1,0,0,0,0.5,7.5,8,39.0,0.192308,True
29,221022,1,한국도로공사,3,안예림,0,0,0,6,0,1,0,3.0,4.0,7,39.0,0.102564,True
30,221022,1,한국도로공사,4,전새얀,0,0,0,0,0,2,0,0.0,2.0,2,39.0,0.051282,True
31,221022,1,한국도로공사,6,이윤정,0,0,0,3,0,0,0,1.5,1.5,3,39.0,0.038462,True
32,221022,1,한국도로공사,7,이예림,1,0,0,0,2,1,0,0.0,4.0,4,39.0,0.102564,True
33,221022,1,한국도로공사,8,임명옥,0,0,0,0,3,5,0,0.0,8.0,8,39.0,0.205128,True
34,221022,1,한국도로공사,10,배유나,0,0,0,0,0,1,1,0.0,0.0,0,39.0,0.000000,True
35,221022,1,한국도로공사,12,문정원,1,0,0,0,2,6,0,0.0,9.0,9,39.0,0.230769,True
36,221022,1,한국도로공사,13,정대영,1,0,0,0,1,1,1,0.0,2.0,2,39.0,0.051282,True
37,221022,1,한국도로공사,18,김세인,0,0,0,0,1,0,0,0.0,1.0,1,39.0,0.025641,True
38,221022,2,한국도로공사,1,카타리나,3,0,0,0,0,5,2,0.0,6.0,6,34.0,0.176471,True
39,221022,2,한국도로공사,3,안예림,1,0,1,6,0,0,2,3.0,3.0,6,34.0,0.088235,True
40,221022,2,한국도로공사,4,전새얀,2,0,0,0,1,2,0,0.0,5.0,5,34.0,0.147059,True
41,221022,2,한국도로공사,6,이윤정,0,0,0,1,0,2,0,0.5,2.5,3,34.0,0.073529,True
42,221022,2,한국도로공사,7,이예림,1,0,0,0,0,5,1,0.0,5.0,5,34.0,0.147059,True
43,221022,2,한국도로공사,8,임명옥,0,0,0,1,0,6,0,0.5,6.5,7,34.0,0.191176,True
44,221022,2,한국도로공사,10,배유나,0,1,0,0,0,1,0,0.0,2.0,2,34.0,0.058824,True
45,221022,2,한국도로공사,12,문정원,0,0,0,0,3,0,1,0.0,2.0,2,34.0,0.058824,True
46,221022,2,한국도로공사,13,정대영,1,0,1,0,0,0,1,0.0,1.0,1,34.0,0.029412,True
47,221022,2,한국도로공사,16,이미소,1,0,0,0,0,0,0,0.0,1.0,1,34.0,0.029412,True
48,221022,3,한국도로공사,1,카타리나,6,0,0,0,0,2,3,0.0,5.0,5,46.0,0.108696,True
49,221022,3,한국도로공사,3,안예림,0,0,0,3,0,1,0,1.5,2.5,4,46.0,0.054348,True

In [193]:
# Save df as Excel
df.to_excel('2223w2.xlsx', index=False)

In [194]:
df = pd.read_csv("/Users/ryansung/2223w2.csv")

In [195]:
# Assuming you have a column named 'contribution_percentage' containing the contribution percentage for each player

# Calculate the average contribution percentage for each player
average_contribution = df.groupby('player')['percentage'].mean().reset_index()

# Print or display the average contribution percentage for each player
average_contribution.head(5)

  player  percentage
0    강소휘   18.293978
1    고민지   11.130876
2    고예림   14.866419
3    고의정    1.894332
4     구솔    3.705890

In [200]:
fil = average_contribution[average_contribution['player']=="양효진"]
print(fil)

   player  percentage
66    양효진   10.205758

In [196]:
## filtered_data = average_contribution[average_contribution['percentage'] > 15]
filtered_data = average_contribution[average_contribution['percentage'] > 15]

# Display the filtered rows
print(filtered_data)

    player  percentage
0      강소휘   18.293978
10     김다인   17.464612
11     김미연   16.307550
18     김연견   16.165221
19     김연경   20.016918
26     김하경   15.697114
27     김해란   16.264429
34   니아 리드   16.230616
36      모마   16.128721
40     문정원   18.205535
57     산타나   19.872955
61     신연경   16.142331
64     야스민   16.374658
67    엘리자벳   16.135621
69     염혜선   17.094244
70     옐레나   15.928850
72     오지영   15.643685
76     이고은   18.600828
82     이소영   20.890356
90     이윤정   15.221762
95     이한비   18.849573
98     임명옥   18.701817
116    표승주   19.768981

In [197]:
# Sort the filtered data by decreasing percentage
sorted_data = filtered_data.sort_values(by='percentage', ascending=False)

# Display the sorted rows
print(sorted_data)

    player  percentage
82     이소영   20.890356
19     김연경   20.016918
57     산타나   19.872955
116    표승주   19.768981
95     이한비   18.849573
98     임명옥   18.701817
76     이고은   18.600828
0      강소휘   18.293978
40     문정원   18.205535
10     김다인   17.464612
69     염혜선   17.094244
64     야스민   16.374658
11     김미연   16.307550
27     김해란   16.264429
34   니아 리드   16.230616
18     김연견   16.165221
61     신연경   16.142331
67    엘리자벳   16.135621
36      모마   16.128721
70     옐레나   15.928850
26     김하경   15.697114
72     오지영   15.643685
90     이윤정   15.221762

## WAR

In [361]:
df = pd.read_csv("/Users/ryansung/boxscore2122.csv")

In [362]:
# Group the DataFrame by the 'player' column and calculate the average of 'tcont'
average_tcont = df.groupby('player')['contribution'].mean()

# Display the average values for each player
print(average_tcont)

player
0       0.000000
강정민     3.060918
고준용     1.131658
공재학     0.196078
곽동혁     1.520280
          ...
황동일     3.282121
황두연     0.709526
황승빈     5.350097
황택의     5.382135
히메네즈    2.308742
Name: contribution, Length: 137, dtype: float64

In [365]:
# Group the DataFrame by the 'player' column and calculate the average of 'tcont'
average_tcont = df.groupby('player')['contribution'].mean().reset_index()

# Sort the average values in descending order
average_tcont.sort_values('contribution', ascending=False, inplace=True)

# Add another column that subtracted each player's average tcont by 2.522785849
average_tcont['WAR'] = average_tcont['contribution'] - 2.522785849

# Download the DataFrame as an Excel file
average_tcont.to_excel('2122war.xlsx', index=False)

### miscell

In [272]:
# Assuming vnl_elo_ratings5 is a DataFrame containing the data
# Replace 'team.A' with the actual column name if it's different in your DataFrame

teams_to_delete = ["IBK기업은행", "페퍼저축은행", "한국도로공사", "흥국생명", "현대건설", "KGC인삼공사", "GS칼텍스"]
vnl_elo_ratings5 = vnl_elo_ratings5[~vnl_elo_ratings5['team.A'].isin(teams_to_delete)]
vnl_elo_ratings5.head(10)

,Unnamed: 0,team.A,team.B,p.A,wins.A,update.A,update.B,elo.A,elo.B,wins.B
0,1,대한항공,KB손해보험,0.63,1,6.31,-6.31,1600.35,1496.01,0
1,2,대한항공,KB손해보험,0.65,0,-10.98,10.98,1589.37,1506.98,1
2,3,대한항공,KB손해보험,0.62,1,6.52,-6.52,1595.90,1500.46,0
3,4,대한항공,KB손해보험,0.63,1,6.22,-6.22,1602.12,1494.24,0
7,8,OK금융그룹,한국전력,0.34,0,-5.82,5.82,1426.10,1551.01,1
8,9,OK금융그룹,한국전력,0.33,0,-5.57,5.57,1420.53,1556.58,1
9,10,OK금융그룹,한국전력,0.31,0,-5.33,5.33,1415.20,1561.91,1
13,14,삼성화재,현대캐피탈,0.52,0,-8.87,8.87,1434.04,1436.60,1
14,15,삼성화재,현대캐피탈,0.50,1,8.56,-8.56,1442.60,1428.04,0
15,16,삼성화재,현대캐피탈,0.52,0,-8.86,8.86,1433.75,1436.89,1

In [273]:
vnl_elo_ratings5.to_excel('wins.xlsx', index=False)

In [268]:
results_mapping = {
    "wins.A": 1,  # home team win
    "wins.B": 1,  # away team win
}

In [269]:
set_num = 1  # Initialize set number
for index, row in vnl_elo_ratings5.iterrows():
    home_team = row['team.A']
    away_team = row['team.B']
    result_home = row['wins.A']
    result_away = row['wins.B']

    # Find the rows in df corresponding to the home team's sets
    home_team_rows = df[(df['team'] == home_team) & (df['set'] == set_num)]

    # Update the 'result' column for the home team's rows
    df.loc[home_team_rows.index, 'result'] = result_home

    # Find the rows in df corresponding to the away team's sets
    away_team_rows = df[(df['team'] == away_team) & (df['set'] == set_num)]

    # Update the 'result' column for the away team's rows
    df.loc[away_team_rows.index, 'result'] = result_away

    # Increment set number for the next iteration
    set_num += 1

In [270]:
result_column = df['result']
print(result_column)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
9769    1.0
9770    1.0
9771    1.0
9772    1.0
9773    1.0
Name: result, Length: 9774, dtype: float64

In [271]:
df['win'] = result_column
df.head(100)

,date,set,team,no,player,attack,block,serve,set.1,receive,...,cont_lessset,contribution,onehalf_block,cont_ms_pb,cont_in_set,true_cont,true_cont_sum_equals_1,percentage,result,win
0,221022,1,대한항공,1,김규민,6,4,0,0,0,...,9.0,9,6.0,11.0,132.0,0.083333,True,8.333333,1.0,1.0
1,221022,1,대한항공,2,한선수,1,2,0,40,0,...,26.0,46,3.0,27.0,132.0,0.204545,True,20.454545,1.0,1.0
2,221022,1,대한항공,5,유광우,0,0,0,7,0,...,4.5,8,0.0,4.5,132.0,0.034091,True,3.409091,1.0,1.0
3,221022,1,대한항공,7,이준,0,0,0,0,0,...,0.0,0,0.0,0.0,132.0,0.000000,True,0.000000,1.0,1.0
4,221022,1,대한항공,8,진지위,0,0,0,0,0,...,0.0,0,0.0,0.0,132.0,0.000000,True,0.000000,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,221023,2,OK금융그룹,3,정성현,0,0,0,1,3,...,4.5,5,0.0,4.5,30.0,0.150000,True,15.000000,NaN,NaN
96,221023,2,OK금융그룹,4,조재성,0,0,0,0,0,...,-1.0,-1,0.0,-1.0,30.0,-0.033333,True,-3.333333,NaN,NaN
97,221023,2,OK금융그룹,7,조국기,0,0,0,0,0,...,0.0,0,0.0,0.0,30.0,0.000000,True,0.000000,NaN,NaN
98,221023,2,OK금융그룹,8,차지환,2,0,0,0,5,...,9.0,9,0.0,9.0,30.0,0.300000,True,30.000000,NaN,NaN
99,221023,2,OK금융그룹,10,부용찬,0,0,0,0,0,...,1.0,1,0.0,1.0,30.0,0.033333,True,3.333333,NaN,NaN

In [258]:
df.to_excel('wins.xlsx', index=False)

## Weight

In [333]:
df2 = pd.read_csv('/Users/ryansung/std_2223m.csv')
df2.head()

,date,set,team,no,player,std_attack,std_block,std_serve,std_set_1,std_receive,std_dig,std_error,contribution,cont_in_set,true_cont,true_cont_sum_equals_1
0,221022,1,대한항공,1,김규민,3.157895,8,0.0,0.00,0.0,0,1.428571,9.729323,84.530702,0.115098,True
1,221022,1,대한항공,2,한선수,0.526316,4,0.0,10.00,0.0,5,2.857143,16.669173,84.530702,0.197197,True
2,221022,1,대한항공,5,유광우,0.000000,0,0.0,1.75,0.0,1,0.000000,2.750000,84.530702,0.032533,True
3,221022,1,대한항공,7,이준,0.000000,0,0.0,0.00,0.0,0,0.000000,0.000000,84.530702,0.000000,True
4,221022,1,대한항공,8,진지위,0.000000,0,0.0,0.00,0.0,0,0.000000,0.000000,84.530702,0.000000,True

In [336]:
import pandas as pd

# Assuming your dataset is stored in a pandas DataFrame called df
# Replace "df" with the actual name of your DataFrame

# Calculate average standard deviations by player
average_std = df.groupby('player')[['std_attack', 'std_block', 'std_serve', 'std_set_1', 'std_receive', 'std_dig', 'std_error']].mean()

# Sort the average_std DataFrame in descending order
average_std_sorted = average_std.sort_values(by=average_std.columns.tolist(), ascending=False)

# Save the average_std_sorted DataFrame to a new XLSX file
average_std_sorted.to_excel('player_averages_sorted.xlsx', index=True)